<div class="main-container" fxFlex="1 1 auto" fxLayout="column">
  <div class="contact" fxFlex="50" fxLayout="column">
    <h1 fxFlex="nogrow">Website designed and built by Jordan Gelber.</h1>
    <nav fxFlex="grow" gdColumns="repeat(5, 1fr)" gdAlignRows="stretch center" gdGap="10px">
      <a title="Email" href="mailto:gelberje@gmail.com">
        <button><i class="far fa-envelope"></i></button>
      </a>
      <a title="Website" href="https://jordan-gelber.com/" target="_blank" rel="noopener">
        <button><i class="fas fa-user"></i></button>
      </a>
      <a title="Resume" href="https://jordan-gelber.com/assets/jordangelberresume.pdf"
        target="_blank" rel="noopener">
        <button><i class="fas fa-file-alt"></i></button>
      </a>
      <a title="Github" href="https://github.com/jordan-gelber" target="_blank" rel="noopener">
        <button><i class="fab fa-github"></i></button>
      </a>
      <a title="Linkedin" href="https://www.linkedin.com/in/jordan-gelber/"
        target="_blank" rel="noopener">
        <button><i class="fab fa-linkedin-in"></i></button>
      </a>
    </nav>
  </div>
  <div fxFlex="50" fxLayout="row">
    <div fxFlex="50" fxLayout="column">
      <p>
        Application and RESTful API server created using the MEAN stack.
      </p>
      <p>
        Implementing a MongoDB database, Express.js server-side framework,
        Angular client-side framework, and Node.js environment.
      </p>
      <p>
        Deployed on Heroku.
      </p>
      <p>
        <a href="https://github.com/jordan-gelber/algorithms-library">
          Github Repository.
        </a>
      </p>
    </div>
    <div class="ref">
      <p>Algorithm details provided by: </p>
      <p>
        Cormen, Thomas H., et al. <i>Introduction to Algorithms</i>. 3rd ed.,
        The MIT Press, 2009.
      </p>
      <p>
        Kleinberg, Jon and Tardos, Eva. <i>Algorithm Design</i>.
        Pearson Education, 2006.
      </p>
    </div>
  </div>
</div>
