/* AlgorithmListComponent styles */
:host {
  flex-direction: column;
  flex: 1;
}

.list-title select {
  font-family: "Karla", sans-serif;
  font-size: 1em;
  cursor: pointer;
  padding: 10px;
  text-indent: 1px;
  border-left: 1px solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list-title {
  border-bottom: solid 1px;
}

.algorithms-list {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0px;
}

.algorithms-list ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: center;
  gap: 10px;
  padding-inline-start: 0px;
  margin: 10px;
}

.algorithms-list li {
  text-align: center;
  height: 100%;
  display: flex;
}

.algorithms-list a {
  font-size: 1.5em;
  padding: 20px 0;
  color: #000;
  text-decoration: none;
  border: solid 1px;
  flex: 1 1 100%;
  box-shadow: 3px 3px 0px;
  background: white;
}

.algorithms-list a:hover {
  cursor: pointer;
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0px;
}
